* {box-sizing:border-box ;}
@font-face {
    font-family: coolvetica;
    src: url(/DESAFIO-06/Lab1/fonts/coolvetica\ rg.otf);
    
}
@font-face {
    font-family: roboto-regular;
    src: url(/DESAFIO-06/Lab1/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: roboto-light;
    src: url(/DESAFIO-06/Lab1/fonts/Roboto-Light.ttf);
    font-weight: 300;
}
body{
    text-align: center;
}
h1{
    font-family: coolvetica;
    color: #0a2ff1;
    font-size: 120px;
}
h2{
    font-family: roboto-light;
    color: #04146c;
    font-size: 40px;
}
.boton {
    font-family: roboto-regular;
    font-size: 40px;
    border: 3px solid #0a2ff1 ;
    margin-bottom: 10px;
    padding: 10px;
}
#test{
    background-color: #0a2ff1;
    color: white;
}
#another{
    color: #04146c;
    background-color: white;
}