@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family:'Roboto',sans-serif ;
}
h1{
    font-size: 64px;
    color: #0a2ff1; 
    font-weight: 700;
}
p { 
    font-weight:700;
    font-size: 16px;
    color: #04146c;
}

p span { 
    font-weight: 400;
}
#p { 
    font-weight: 300;
    font-size: 32px;

}
#puntuacion{
    width: 30%;
    height: 30%;
}
main { 
    display: flex;

    justify-content:center; 
    align-items: center;
}
div { margin-right: 5px; width: 30%;}