@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
@font-face {
    font-family: coolvetica;
    src: url(./fonts/coolvetica.otf);
    
}
body{
    font-family: 'Roboto',sans-serif;
}
h1{
    font-family: coolvetica;
    font-size: 120px;
    color: #0a2ff1;
}
header p{
    font-size: 40px;
    color: #04146c;
    font-weight: 300;
}
header p span{
    font-weight: 700;
}
div img{
width:30%;
} 
main{
    display: flex;
    justify-content: space-between;
}
div{
    width: 25%;
    background-color: #eff2ff;
}
div p{
    font-size: 24px;
    color: #04146c;
    font-weight: 400;
}
div h2{
    font-size: 24px;
    color: #04146c;
    font-weight: 300;
    font-style: italic;
}
div h3{
    font-size: 24px;
    color: #04146c;
    font-weight: 900;
}
